body {
    margin: 0;
    background-color: #f3f3f3;
}
nav ul {
    list-style-type: none;
    background-color: #1f4e5f;
    height: 60px;
    text-align: center;
    padding-right: 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    line-height: 60px;
    margin:20px;
    font-size: 30px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: border-bottom 0.25s ease, color 0.25s ease;
}
nav a:hover {
    padding-bottom: 2px;
    color: #ffce80;
}
nav a.active {
    /* Remember to set the active page to class:"active" in nav */
    padding-bottom: 2px;
    color: #f5a623;
    border-bottom: 2px solid #f5a623;
}
nav li {
    display: inline;
}
.box {
    max-width: 1200px;
    margin: 30px auto;
    border: 2px solid #1f4e5f;
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 10px;
}

.cardRow{
    width:1800px;
    height:500px;
    margin:auto;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    background-color:#dbdbdb;
}

img{
    max-height: 208px;
    max-width: 100%;
    border-radius: 6px;
}


.card{
    height:70%;
    width:350px;
    border:2px solid #1f4e5f;
    background-color: antiquewhite;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    margin: 100px 1px 1px 80px;
}

.cardHyperlink{
    font-size: 45px;
    text-align: center;
    border: #f5a623 solid 2px;
    background-color: #ffce80;
    border-radius: 6px;
}

.cardHyperlink:hover{
    font-size: 45px;
    text-align: center;
    border: #f5a623 solid 2px;
    background-color: #e09213;
    border-radius: 6px;
}

a{
    text-decoration: none;
    color:#0a0704;
}